{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/show_product.css' %}" />
    <style>
      .card-img-top {
        height: 200px; /* Đặt chiều cao cố định */
        object-fit: cover; /* Giữ tỉ lệ hình ảnh mà không làm biến dạng */
      }
    </style>
    <script type="text/javascript">
      var user ='{{request.user}}'
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    </script>
    <title>Trang sức</title>
  </head>
  <body>
  <!-- header -->
  <div class="header">
    <div class="list-social">
      <div class="list__social inst">
        <a href=""><i class="fa-brands fa-instagram"></i></a>
      </div>
      <div class="list__social face">
        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
      </div>
      <div class="list__social twit">
        <a href=""> <i class="fa-brands fa-twitter"></i></a>
      </div>
      <div class="list__social tikt">
        <a href=""><i class="fa-brands fa-tiktok"></i></a>
      </div>
    </div>
    <div class="support-bar">
      <form class ='d-flex' role ='search' method ='POST' action ="{%url 'search'%}">
        {% csrf_token %}
        <input name="searched" placeholder="Search" class="search-input" />
        <button  type="submit" class="btn btn-link p-0 border-0">
          <img src="{% static 'img/search.png' %}" alt="Search" class="img-fluid" />
        </button>
      </form> 
      <div class="auth-container d-flex justify-content-between align-items-center">
        <!-- Phần dành cho người dùng đã đăng nhập -->
        <div class="user-logged-in d-flex align-items-center" style="visibility: {{ user_login }}">
          <a href="{% url 'logout' %}" class="me-2">
            <img src="{% static 'img/account.png' %}" alt="Tài khoản" class="img-fluid" />
          </a>
          <span>hello! {{ request.user }}</span>
        </div>
      
       <!-- Phần dành cho người dùng chưa đăng nhập -->
       <div class="auth-buttons d-flex" style="visibility: {{ user_not_login }}">
        <a href ="{%url 'login'%}"><button class="btn btn-primary me-2"><b>Đăng nhập</b></button></a>
        <a href ="{%url 'register'%}"><button class="btn btn-secondary"><b>Đăng ký</b></button></a>
      </div>
      </div>
      
      
      
      
      <div class="form-inline my-2 my-lg-0 position-relative">
        <a id="cart-icon" href="{% url 'cart' %}" class="text-decoration-none">
          <i class="fa-solid fa-cart-shopping fa-lg"></i>
        </a>
        <span 
          id="cart-total" 
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{cartItems}}
        </span>
      </div>
      
    </div>
  </div>   
  <div class="header-logo"><img src="{% static "img/logo.png" %}" alt="" /></div>
    <!-- hero -->
    <div class="hero">
      <!-- menu -->
      <div class="menu">
        <a href="{% url 'home' %}"> 
          <div class="menu-pages ">TRANG CHỦ</div>
        </a>
        <a href="{% url 'product' %}">
          <div class="menu-pages menu-active">SẢN PHẨM</div>
        </a>
        <a href="{% url 'cart' %}">
          <div class="menu-pages">GIỎ HÀNG</div>
        </a>
        <a href="{% url 'contact' %}">
          <div class="menu-pages">LIÊN HỆ</div>
        </a>
      </div>
      
      <!-- Navbar Danh Mục -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <!-- Danh Mục Sản Phẩm -->
               {%for i in categories%}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'category' %}?category={{i.slug}}">{{i.name}}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>

      <div class="container mt-5">
        <h2 class="mb-4 text-center">Danh Sách Sản Phẩm</h2>

        <!-- Dòng Sản Phẩm -->
        <div class="row">
          {%for product in products %}
          <div class="col-md-4 mb-4">
            <div class="card">
              <a href ="{%url 'detail'%}?id={{product.id}}"><img src="{{product.ImageURL}}" class="card-img-top" alt="" /></a>
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <h5 class="card-price">{{product.price}}VNĐ</h5>
                <button data-product={{product.id}} data-action='add' class="btn btn-primary update-cart">Thêm vào giỏ</button>
                <a href="{% url 'cart' %}"><button class="btn btn-success ml-2 ">Mua ngay</button></a>
              </div>
            </div>
          </div>
           {% endfor %}
      </div>
    </div>

    <!-- footer -->
    <div class="footer">
      <div class="footer-box">
        <a class="footer-box-left" href="">
          <i class="fa-brands fa-instagram"></i>
          <span>KAIJEWELRY</span>
        </a>
        <a class="footer-box-left" href="">
          <i class="fa-brands fa-facebook-f"></i>
          <span>KAIJEWELRY</span>
        </a>
        <a class="footer-box-left" href="">
          <i class="fa-solid fa-phone-flip"></i>
          <span>098.6162.868</span>
        </a>
        <a class="footer-box-left" href="">
          <i class="fa-solid fa-envelope"></i>
          <span>098.6162.868</span>
        </a>
      </div>
      <div class="footer-box">
        <div class="footer-box-icon"><img src="{% static 'img/logo.png' %}" alt="" /></div>
        <div class="footer-box-desc">JEWELRY STORE IN SAIGON</div>
        <div class="footer-desc">DESIGN & MADE TO ORDER</div>
        <div class="footer-desc">since 2024</div>
      </div>
      <div class="footer-box">
        <a href=""><div class="footer-desc">TRANG SỨC</div></a>
        <a href=""><div class="footer-desc">INSTAGRAM</div></a>
        <a href=""><div class="footer-desc">BỘ SƯU TẬP</div></a>
        <a href=""><div class="footer-desc">BÀI VIẾT</div></a>
        <a href=""><div class="footer-desc">THÔNG TIN</div></a>
        <a href=""><div class="footer-desc">KAI JEWELRY</div></a>
      </div>
    </div>
   
    <script src="{% static 'js/cart.js'%}"></script>
  
  </body>
</html>
